/* .container {
    display:flex;
    flex-direction: column;
    height: 100vh;
}

.cards-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}

.solo-inbox-cards {
    display: flex;
    flex: 1;
    margin-left: 2in;
    margin-right: 2in;
    width: auto;
}

.inbox-container {
  display: flex;
}

.inbox-cards {

    margin-right: .5in;
    margin-left: -.5in;
}

.inbox-form {
  display: flex;
  flex: 1 0 60%;
  margin-left: 1.25in;
  margin-right: -.5in;
  margin-top: -.25in;
}

.inbox-card {
    flex: 1 0 700px;
    margin: 0 5px;
} */


.initial-container {
    display:inline-grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.loaded-container {
    display:inline-grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 25% 25% 25% 25%;
    /* position: absolute;
    top: 10px; */
}

.inbox-cards {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1.75;
    grid-row-end: 2;
}

.inbox-form {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1.75;
    grid-row-end: 2;
}

.inbox-message {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
}
